# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Результаты экспериментов (папка и файлы)
results/
*.db
results.csv

# Графики (они в папке results, но на всякий случай)
*.png

# Датасеты (большие файлы — не загружаем на GitHub)
data/*.csv

# Служебное
.DS_Store
.vscode/
.idea/